---
---

<div class="flex flex-col items-center justify-center h-screen bg-surface gap-8">
    <div class="relative w-32 h-32">
        <img src="/images/logo.ico" alt="Loading" class="w-full h-full object-contain animate-pulse drop-shadow-lg" />
        <div class="absolute inset-0 -m-5 border-4 border-gray-200 border-t-primary rounded-full animate-spin" />
    </div>
</div>
