@import "tailwindcss";

@theme {
    --color-primary: #b8d600;
    --color-primary-hover: #a0b800;
    --color-primary-active: #8a9f00;
    --color-gamerpay: #019eff;
    --color-steam: #59bf40;
    --color-csfloat: #4a4a4a;
    --color-csfloat-secondary: #ffffff;
}

@keyframes slide-in-bottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-slide-in-bottom {
    animation: slide-in-bottom 0.15s ease-out;
}

.w-88 {
    width: calc(var(--spacing) * 88)
}